@import '_variables';

$project-margin-bottom: 80px;

#portfolio-section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .project {
        flex: 0 0 auto;
        width: 50%;
        text-align: center;
        margin-bottom: $project-margin-bottom;

        &:hover {
            cursor: pointer;
        }
        
        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        >* {
            padding: 0 40px;
        }

        .project-thumbnail {
            height: 200px;
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .project-name {
            font-size: 18px;
            color: $heading-color;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        .project-client-and-year {
            text-transform: uppercase;
            font-size: 70%;
            color: #666;
        }

        .project-summary {
            color: #666;
        }
    }
}

@media (max-width: $max-width) {
    #portfolio-section {
        .project {
            width: 100%;

            &:nth-last-child(2) {
                margin-bottom: $project-margin-bottom;
            }

            >* {
                padding: 0;
            }
        }
    }
}