.project-modal-sub-heading {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

#project-modal-project-client-and-year {
    text-transform: uppercase;
    font-size: 70%;
    color: #666;
}

#project-modal-project-roles,
#project-modal-project-technologies {
    &.hidden {
        display: none;
    }
}

#project-modal-project-description {
    padding-bottom: 10px;
}