.slideshow {
    position: relative;

    .slideshow-slides {
        background-color: #f2f2f2;
        padding: 10px 0 24px 0;

        img {
            max-width: 85%;
            max-height: 500px;
            margin: 0 auto;
        }
    }

    .slideshow-prev-button,
    .slideshow-next-button {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        font-size: 24px;
        font-weight: bold;
        height: 100%;
        padding: 0 20px;
        cursor: pointer;

        &.hidden {
            display: none;
        }
    }

    .slideshow-next-button {
        right: 0;
    }

    .slideshow-indicators {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        display: flex;
        justify-content: center;
        
        .slideshow-indicator {
            width: 30px;
            height: 4px;
            margin: 0 3px;
            background-color: #d9d9d9;

            &.slideshow-indicator-selected {
                background-color: white;
            }
        }
    }
}