@import '_variables';
@import '_header';
@import '_about';
@import '_portfolio';
@import '_contact';
@import '_footer';
@import '_modal';
@import '_slideshow';
@import '_project-modal';

html, body {
    background-color: $background-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 175%;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
    color: #0066ff;
}

#content {
    margin: $header-height auto 0 auto;
    padding: 0 $content-horizontal-padding;
    max-width: $max-width - ($content-horizontal-padding * 2);
}

.anchor {
    display: block;
    position: relative;
    top: $header-height * -1; // offset by height of the fixed header
    visibility: hidden;
}

.section {
    margin-bottom: 100px;
}

.section-title {
    width: 100%;
    text-align: center;
    color: $heading-color;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 40px;
}

@media (max-width: $max-width) {
    #content {
        margin-top: $header-height-mobile;
    }

    .anchor {
        top: $header-height-mobile * -1; // offset by height of the fixed header
    }
}